* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main-black: #222;
$main-green: #82b340;
$main-white: #fff;
$main-grey: #ececec;

body {
  background: $main-white;
  color: $main-black;
  font-family: 'Open Sans', sans-serif;
}